.character-select-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
  width: 100%;
}

.character-list {
  height: fit-content;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
}

.character-button {
  height: 50px;
  padding: 5px 10px;
  border: 2px solid #fff;
  background-color: #000;
  color: #fff;
  transition: background-color 0.3s ease, border-color 0.3s ease,
    color 0.3s ease;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.character-button:hover {
  background-color: white;
  border-color: #ff007f;
  color: black;
  font-weight: bolder;
}

.character-info-container {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-height: 600px;
  max-width: 400px;
  background: transparent;
  z-index: 1;
}

.character-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: black;
  border: 2px solid #fff;
  transition: transform 0.6s ease;
  width: 100%;
  transform-style: preserve-3d;
  position: relative;
  z-index: 2;
}

.character-info-container::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparent;
  z-index: 1;
}

/* Flip effect for screens larger than 768px */
@media (min-width: 769px) {
  .character-info-container:hover .character-info {
    transform: rotateY(180deg);
  }
}

.character-info .front,
.character-info .back {
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100%;
  padding: 15px;
  z-index: 3;
}

.character-info .front h1,
.character-info .front h2 {
  margin: 0;
  display: flex;
  height: 100px;
}

.character-info .front h1 {
  align-items: flex-end;
}

.character-info .front h2 {
  font-size: 1rem;
  align-items: flex-start;
}

.character-info .back {
  transform: rotateY(180deg);
}

.character-photo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-bottom: 40px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.character-description {
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  max-width: 400px;
}

.character-button p {
  margin: 0;
}

.characters {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.characters h1 {
  margin-top: 30px;
  margin-bottom: 10px;
}

/* Responsive layout for screens 768px and below */
@media (max-width: 768px) {
  .character-select-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .character-list {
    width: 100%;
  }

  .character-button {
    padding: 4px;
    height: fit-content;
  }

  .character-button p {
    font-size: 0.6rem;
  }

  .character-info-container {
    width: 100%;
    margin-left: 0;
  }

  .character-info {
    flex-direction: column;
    align-items: flex-start;
    transform: none; /* Disable flipping */
    padding: 10px;
    height: 240px;
    justify-content: space-between;
  }

  .character-info .front,
  .character-info .back {
    position: relative;
    padding: 0;

    width: 100%;
    text-align: center;
  }

  .character-info .front h1 {
    font-size: 1.2rem;
    height: fit-content;
  }

  .character-info .front h2 {
    font-size: 0.6rem;
    height: fit-content;
  }

  .character-photo {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .character-description {
    font-size: 0.6rem;
  }

  .character-info .back {
    transform: rotateY(0deg);
  }
}
