.character-select-container {
  display: flex;
  flex-direction: row;
  align-items: end;
  margin: 20px 0;
  gap: 20px;
  height: 400px;
}

.character-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  margin-bottom: 5%;
}

.character-button {
  height: 50px;
  padding: 5px 10px;
  border: 2px solid #fff;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease,
    color 0.3s ease;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.character-button:hover {
  background-color: white;
  border-color: #ff007f;
  color: black;
  font-weight: bolder;
}

.character-info-container {
  height: 110%;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 400px;
  margin-left: 10%;
}

.character-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  background-color: black;
  border: 2px solid #fff;
  transition: transform 0.6s ease;
  width: 100%;
  transform-style: preserve-3d;
  position: relative;
  cursor: pointer;
}

.character-info-container::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparent;
  z-index: 1;
}

.character-info-container:hover .character-info {
  transform: rotateY(180deg);
}

.character-info .front,
.character-info .back {
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 15px;
}

.character-info .back {
  transform: rotateY(180deg);
}

.character-photo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-bottom: 10px;
}

.character-description {
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  max-width: 400px;
}

.star-rating {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.star {
  font-size: 1.5rem;
  color: gold;
}

@media (max-width: 768px) {
  .character-button {
    font-size: 1rem;
  }

  .character-description {
    font-size: 1rem;
  }
}
