.character-select-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
  gap: 20px;
  height: 400px;
}

.character-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
}

.character-button {
  padding: 10px 20px;
  border: 2px solid #fff;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease,
    color 0.3s ease;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.character-button:hover {
  background-color: white;
  border-color: #32cd32;
  color: black;
}

.character-info-container {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.character-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 15px;
  background-color: black;
  border: 2px solid #fff;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  width: 100%;
}

.character-photo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-bottom: 10px;
}

.character-description {
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  max-width: 400px;
}

@media (min-width: 769px) {
  .character-info:hover {
    background-color: white;
    border-color: #32cd32;
    color: black;
  }

  .character-info:hover .character-description {
    color: green;
  }
}

@media (max-width: 768px) {
  .character-button {
    font-size: 1rem;
  }

  .character-description {
    font-size: 1rem;
  }
}
