.contact-container {
  position: relative;
  height: calc(100% + 20px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  box-sizing: border-box;

  border: 2px solid white;
  background-color: black;
  margin-top: -20px;
  overflow: hidden; /* Ensure the lines stay within the container */
}

.contact-buttons {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 40px 0px;
}

.contact-button {
  width: 200px;
  height: 100%;
  position: relative;
  background-color: black;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: none;
}

.contact-button:hover {
  background-color: white;
  color: black;
}

.contact-button svg {
  transition: all 0.3s ease;
}

.contact-button:hover svg {
  transform: scale(1.5);
}

.contact-button p {
  position: absolute;
  font-weight: bolder;
  top: 10px;
  left: 10px;
}

.horizontal-line,
.vertical-line {
  position: absolute;
  background-color: white;
  pointer-events: none; /* Prevent the lines from interfering with other interactions */
  transition: transform 0.2s ease-out; /* Smooth movement */
}

.horizontal-line {
  height: 2px;
  width: 100%;
}

.vertical-line {
  width: 2px;
  height: calc(100% + 20px);
}

@media (max-width: 768px) {
  .contact-container {
    border: none;
    justify-content: center;
  }

  .contact-container h2 {
    font-size: 1.5rem;
  }

  .contact-buttons {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }

  .contact-button {
    height: 140px;
    width: 140px;
  }
}
