.market-container {
  position: relative;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  box-sizing: border-box;
}

.market-title {
  position: relative;
  border: 2px solid #fff;
  background-color: #000;
  padding: 6px 20px;
  height: 80px;
  width: fit-content;
  z-index: 2;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.market-title h1 {
  font-size: 2rem;
}

.market-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.market-point {
  background-color: black;
  padding: 15px;
  border: 2px solid #fff;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  flex: 1;
  min-width: 200px;
}

.population-point {
  background-color: black;
  width: 80%;
  padding: 15px;
  border: 2px solid #fff;
  border-left: 8px solid white;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  margin-bottom: 20px;
  margin-left: 10%;
}

.market-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin-left: -40px;
  width: 100vw;
  gap: 6%;
  -ms-overflow-style: none; /* Hides scrollbar in Internet Explorer and Edge */
  scrollbar-width: none;
}

.market-cards::-webkit-scrollbar {
  display: none; /* Hides the scrollbar for WebKit browsers */
}

.market-cards .market-point:first-child {
  margin-left: 40px; /* Specific margin for the first child */
}

.market-cards .market-point:last-child {
  margin-right: 40px; /* Specific margin for the last child */
}

.market-cards .market-point {
  max-width: calc(33% - 20px);
  border-top: 16px solid white;
}

.market-point:hover {
  background-color: white;
  border-color: #32cd32;
  color: black;
}

.market-point p {
  margin: 0;
  font-size: 1.1rem;
}

.market-point strong {
  color: white;
  font-weight: bold;
}

.market-point:hover strong {
  color: green;
  font-weight: bolder;
}

.market-point:hover .market-point-title {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .market-title {
    margin-left: 10%;
  }

  .market-title h1 {
    font-size: 1rem;
  }

  .population-point {
    width: 100%;
    margin-left: 0;
  }
}
