.market-container {
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.market-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.market-point {
  background-color: #000;
  padding: 15px;
  border: 1px solid #32cd32;
  border-radius: 5px;
}

.market-cards {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

.market-cards::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.market-point strong {
  color: #32cd32;
}
