.market-container {
  height: calc(100% + 20px);
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-top: -20px;
  box-sizing: border-box;
}

.market-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 40px;
}

.market-point {
  width: 100%;
  background-color: #000;
  padding: 15px;
  border: 2px solid white;
  font-size: 2rem;
  text-align: center;
}

.market-cards {
  height: 100%;
  width: 100%;
  display: flex;
  overflow-x: auto;
  gap: 40px;
}

.market-cards::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.market-point strong {
  color: #22bbff;
}

@media (max-width: 768px) {
  .market-container {
    margin-top: 0px;
  }

  .market-content {
    gap: 0px;
  }

  .market-cards {
    height: fit-content;
    gap: 0px;
  }

  .market-point {
    padding: 10px;
    font-size: 1rem;
  }
}
