.operations-container {
  height: calc(100% + 20px);
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-top: -20px;
  box-sizing: border-box;
  gap: 40px;
}

.operations-point {
  height: 100%;
  width: 100%;
  background-color: #000;
  padding: 15px;
  border: 2px solid white;
  font-size: 2rem;
  text-align: center;
}

.operations-cards {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 40px;
}

.operations-cards::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.operations-point strong {
  color: #22bbff;
}

@media (max-width: 768px) {
  .operations-container {
    margin-top: 0px;
    gap: 0px;
  }

  .operations-cards {
    height: fit-content;
    gap: 0px;
    height: auto;
  }

  .operations-point {
    height: auto;
    padding: 10px;
    font-size: 0.9rem;
  }
}
