.overview-container {
  position: relative;
  height: fit-content;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.overview-container * {
  user-select: none;
}

.overview-title {
  position: relative;
  border: 2px solid white;
  background-color: black;
  padding: 6px 20px;
  height: fit-content;
  width: fit-content;
  z-index: 2;
  display: flex;
  align-items: center;
  margin-left: 5%;
  border-radius: 10px;
  box-shadow: 10px 10px 0px white;
}

.overview-title h1 {
  margin: 0;
  font-size: 2rem;
}

.overview-img {
  position: relative;
  height: fit-content;
  width: fit-content;
  margin-top: -40px;
  margin-left: 10%;
  border: 2px solid white;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overview-img img {
  height: auto;
  width: 80vw;
}

.overview-content {
  position: relative;
  margin-top: -60px;
  width: 90%;
  border: 2px solid white;
  border-left: 8px solid;
  border-right: 8px solid;
  background-color: black;
  z-index: 2;
  padding: 10px 20px;
  color: white;
}

.overview-content p {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .overview-title {
    margin-left: 0;
  }

  .overview-title h1 {
    font-size: 1rem;
  }

  .overview-img {
    margin-top: 20px;
    margin-left: -5%;
  }

  .overview-img img {
    height: auto;
    width: 90vw;
  }

  .overview-content {
    margin-top: 20px;
    width: 95%;
    margin-left: 5%;
  }

  .overview-content p {
    font-size: 1rem;
  }
}
