.overview-container {
  position: relative;
  width: 100%;
  display: flex;
  margin-top: -20px;
  color: white;
  box-sizing: border-box;
  height: 100%;
}

.left-side {
  width: 100%;
  height: 100%s;
  display: flex;
  flex-direction: column;
}

.overview-title {
  border: 2px solid white;
  background-color: black;
  padding: 10px 20px;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.overview-title h1 {
  margin: 0;
  font-size: 2rem;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 2px solid white;
  margin-top: 20px;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.slides {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensures the image scales down to fit within the container while preserving its aspect ratio */
  max-width: 100%;
  max-height: 100%;
  display: block; /* Removes any inline spacing */
}
.slide-title {
  position: absolute;
  font-size: 1.2rem;
  color: white;
  background-color: black;
  top: 20px;
  right: 20px;
  margin: 0px;
  padding: 10px 20px;
  z-index: 1;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
  transition: all 0.3s ease;
}

.slider-button.prev {
  left: 10px;
}

.slider-button.next {
  right: 10px;
}

.slider-button:hover {
  background-color: white;
  color: black;
}

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  background-color: white;
  width: 100%;
  animation: progressBar 8s linear infinite;
  animation-play-state: running; /* Default to running */
}

.overview-text {
  height: 100%;
  width: 100%;
  padding: 40px 50px;
  text-align: left;
  font-size: 2rem;
}

.dots-container {
  height: 40px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: -40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #717171;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: white;
}

@keyframes progressBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .dots-container {
    margin-top: 10px;
    margin-bottom: -10px;
  }

  .dot {
    width: 8px;
    height: 8px;
    margin: 0 4px;
  }

  .overview-text {
    padding: 20px;
    font-size: 0.8rem;
  }

  .overview-container {
    margin-top: 0;
  }

  .overview-title {
    width: 100%;
    height: 60px;
    padding: 0;
    justify-content: center;
  }

  .overview-title h1 {
    font-size: 1rem;
  }

  .slide-title {
    top: 0;
    right: 0;
    font-size: 0.8rem;
    padding: 2px 6px;
  }
}
