/* Scroller container styles */
.scroller {
  position: relative;
  padding: 20px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.scroller-content {
  position: relative;
  padding: 20px;
  height: fit-content;
  margin-top: 100px;
  /* For debugging visibility */
}

/* Button container styles */
.button-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 80px;
  width: 80px;
  border: 2px solid white;
  align-items: center;
  transition: all 0.6s ease;
  z-index: 10;
  background-color: black;
  overflow: hidden;
}

.section-buttons {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  z-index: 10;
  position: relative;
}

.section-buttons button {
  position: relative;
  flex-grow: 1;
  z-index: 10;
}

.section-buttons button:hover p {
  text-decoration: underline;
}

/* General button styles */
.button-container button {
  transition: opacity 0.3s ease;
  opacity: 1; /* Normal opacity when no button is hovered */
  cursor: pointer;
  background-color: transparent;
  font-weight: bolder;
  color: white;

  width: 100%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.button-container.collapsed .section-buttons {
  opacity: 0;
  height: 0;
  visibility: hidden;
  transition: none; /* Immediate hide */
}

.button-container.expanded .section-buttons {
  opacity: 1;
  height: auto;
  visibility: visible;
  transition-delay: 0.3s !important;
}

.toggle-button {
  opacity: 1 !important;
  height: 100px;
  z-index: 11;
  position: relative;
  background-color: black;
}

.toggle-img {
  position: relative;
  z-index: 11;
}

/* Image styles for Scroll to Top button */
.toggle-button img {
  width: 60px;
  height: 60px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

@media (max-width: 768px) {
  .button-container.expanded {
    height: calc(100% - 40px);
    width: calc(100% - 40px);
  }

  .button-container.collapsed {
    height: 80px;
    width: 80px;
  }
}

@media (min-width: 769px) {
  .scroller-content {
    margin-top: 160px;
  }

  .button-container button {
    width: fit-content;

    font-size: 1.2rem;
    height: 100px;
  }

  .section-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  }

  .button-container {
    flex-direction: row;
    margin-top: 70px;
  }

  .button-container.expanded {
    width: calc(100% - 60px);
  }

  .button-container.collapsed {
    width: 80px;
  }

  /* Hover effect: Dim all buttons except the one being hovered */
  .section-buttons button:hover {
    opacity: 1; /* Ensure the hovered button stays fully opaque */
  }

  /* When any button is hovered, reduce opacity of all non-hovered buttons */
  .section-buttons:hover button:not(:hover) {
    opacity: 0.5; /* Dim all other buttons */
  }

  /* Hover effect for Scroll to Top button */
  .toggle-button:hover .toggle-img {
    transform: scale(1.2); /* Increase size */
    opacity: 0.8; /* Slight transparency */
    content: url("/assets/images/point.png"); /* Change image on hover */
  }
}
