/* Container styling */
.sections-container {
  display: flex;
  flex-wrap: wrap;
  width: calc(3 * min(28vw, 28vh) + 40px);
  height: calc(3 * min(28vw, 28vh) + 40px);
  position: relative;
  margin-top: 20px;
  overflow: hidden;
}

/* General section styling */
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: 2px solid white;
  transition: all 0.5s ease, background-color 1s ease;
  margin: 0;
  position: relative;
  overflow: hidden;
  mix-blend-mode: normal;
  overflow: hidden;
}

.sections-top {
  height: calc(2 * (min(28vw, 28vh)) + 20px);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: all 0.5s ease;
  overflow: hidden;
  margin-bottom: 20px;
}

.sections-vertical {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s ease;
  overflow: hidden;
}

.sections-bottom {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-title {
  font-weight: bolder;
  font-size: 1rem;
  text-align: center;
  opacity: 1;
  padding: 4px;
}

.section:not(#section-preview):not(.expand):hover {
  background-color: transparent;
  border-color: black;
}

.section:not(#section-preview):not(.expand):hover p {
  background-color: white;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}

.section-background {
  background-color: black;
  mix-blend-mode: difference;
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all 1s ease;
}

.section:not(#section-preview):not(.expand):hover .section-background {
  background-color: white;
}

.shrink-vertical {
  height: 0px !important;
  border: none;
  margin-bottom: 0px;
}

.shrink-horizontal {
  width: 0px !important;
  border: none;
}

.shrink-start {
  justify-content: flex-start;
  border: none;
}

.shrink-end {
  justify-content: flex-end;
  border: none;
}

.shrink-center {
  justify-content: center;
  border: none;
}

.expand {
  height: 100% !important;
  width: 100% !important;
}

.expandable {
  width: min(
    28vw,
    28vh
  ); /* Take the smaller value between 50% of viewport width or height */
  height: min(28vw, 28vh);
}

.preview {
  height: calc(2 * (min(28vw, 28vh)) + 20px);
  width: calc(2 * (min(28vw, 28vh)) + 20px);
}

.back-button-container {
  position: absolute;
  top: 40px;
  left: -100px;
  transition: all 0.5s ease;
  pointer-events: none;
}

.back-button {
  opacity: 1 !important;
  height: 80px;
  width: 80px;
  z-index: 11;
  position: relative;
  border: 2px solid white;
  background-color: black;
  z-index: 1;
  user-select: none;
}

.enabled {
  left: 40px;
  pointer-events: all;
}

.back-img {
  position: relative;
  z-index: 11;
}

/* Image styles for Scroll to Top button */
.back-button img {
  width: 60px;
  height: 60px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.back-button:hover .back-img {
  transform: scale(1.2); /* Increase size */
  opacity: 0.8; /* Slight transparency */
  content: url("/assets/images/point.png"); /* Change image on hover */
  transform: rotateY(180deg);
}

@media (max-width: 768px) {
  .back-button-container {
    top: 20px;
  }

  .enabled {
    left: 20px;
  }
}
