/* Container styling */
.sections-container {
  display: flex;
  flex-wrap: wrap;
  width: calc(3 * min(25vw, 25vh) + 40px);
  height: calc(3 * min(25vw, 25vh) + 40px);
  position: relative;
  margin-top: 40px;
  overflow: hidden;
}

/* General section styling */
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.sections-top {
  height: calc(2 * (min(25vw, 25vh)) + 20px);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: all 0.5s ease;
  overflow: hidden;
}

.sections-vertical {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s ease;
  overflow: hidden;
}

.sections-bottom {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.shrink-vertical {
  transform-origin: bottom;
  height: 0px !important;
}

.shrink-horizontal {
  width: 0px !important;
}

.shrink-start {
  justify-content: flex-start;
}

.shrink-end {
  justify-content: flex-end;
}

.shrink-center {
  justify-content: center;
}

.expand {
  height: 100% !important;
  width: 100% !important;
  cursor: auto;
}

.expandable {
  width: min(
    25vw,
    25vh
  ); /* Take the smaller value between 50% of viewport width or height */
  height: min(25vw, 25vh);
}

.preview {
  height: calc(2 * (min(25vw, 25vh)) + 20px);
  width: calc(2 * (min(25vw, 25vh)) + 20px);
}

.back-button-container {
  position: absolute;
  top: 40px;
  left: -100px;
  transition: all 0.5s ease;
}

.enabled {
  left: 40px;
}

.back-button {
  opacity: 1 !important;
  height: 80px;
  width: 80px;
  z-index: 11;
  position: relative;
  border: 2px solid white;
  background-color: black;
  cursor: pointer;
  z-index: 1;
}

.back-img {
  position: relative;
  z-index: 11;
}

/* Image styles for Scroll to Top button */
.back-button img {
  width: 60px;
  height: 60px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.back-button:hover .back-img {
  transform: scale(1.2); /* Increase size */
  opacity: 0.8; /* Slight transparency */
  content: url("/assets/images/point.png"); /* Change image on hover */
  transform: rotateY(180deg);
}
