/* Container styling */
.sections-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: calc(3 * min(28vw, 28vh) + 40px);
  position: relative;
  margin-top: 20px;
  overflow: hidden;
}

/* General section styling */
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: 2px solid white;
  transition: all 0.5s ease, background-color 1s ease;
  margin: 0;
  position: relative;
  overflow: hidden;
  mix-blend-mode: normal;
  overflow: hidden;
  opacity: 0;
}

.visible {
  animation: popIn 0.2s ease-out;
  opacity: 1;
}

@keyframes popIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.sections-top {
  height: calc(2 * (min(28vw, 28vh)) + 20px);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: all 0.5s ease;
  overflow: hidden;
  margin-bottom: 20px;
  gap: 20px;
}

.sections-vertical {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s ease;
  overflow: hidden;
}

.sections-vertical .section {
  width: 100%;
}

.sections-bottom {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.sections-bottom .section {
  width: 100%;
}

.section-title {
  font-weight: bolder;
  font-size: 1rem;
  text-align: center;
  opacity: 1;
  padding: 4px;
  position: absolute;
  top: 20px;
  right: auto;
  left: 20px;
  width: fit-content;
  transition: all 0.5s ease;
}

.section:not(#section-preview):not(.expand):hover {
  background-color: transparent;
  border-color: black;
}

.section:not(#section-preview).expand .section-title,
.section:not(#section-preview):not(.expand):hover p {
  background-color: black;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.section:not(#section-preview).expand .section-title {
  background-color: white;
  color: black;
  top: 40px;
  right: 40px;
  left: auto;
  height: 80px;
  width: calc(100% - 200px);
  margin-top: -2px;
  font-size: 2.5rem;
  display: flex;
  justify-content: right;
  align-items: center;
  white-space: nowrap;
  padding-right: 40px;
}

.section-background {
  background-color: black;
  mix-blend-mode: difference;
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all 1s ease;
  pointer-events: none;
}

.section-thumbnail {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  width: 100% !important;
  height: 100% !important;
  display: block; /* Ensures no extra space around the canvas */
}

.section:not(#section-preview):not(.expand):hover .section-background {
  background-color: white;
}

.shrink-vertical {
  height: 0px !important;
  border: none;
  margin-bottom: 0px;
}

.shrink-horizontal {
  width: 0px !important;
  border: none;
}

.shrink-start {
  justify-content: flex-start;
  border: none;
}

.shrink-end {
  justify-content: flex-end;
  border: none;
}

.shrink-center {
  justify-content: center;
  border: none;
}

.expand {
  height: 100% !important;
  width: 100% !important;
  gap: 0px;
}

.expandable {
  width: min(
    28vw,
    28vh
  ); /* Take the smaller value between 50% of viewport width or height */
  height: min(28vw, 28vh);
}

.preview {
  height: calc(2 * (min(28vw, 28vh)) + 20px);
  width: 55%;
}

.back-button-container {
  position: absolute;
  top: 40px;
  left: -100px;
  transition: all 0.5s ease;
  pointer-events: none;
}

.back-button {
  opacity: 1 !important;
  height: 80px;
  width: 80px;
  z-index: 11;
  position: relative;
  border: 2px solid white;
  background-color: black;
  z-index: 1;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enabled {
  left: 40px;
  pointer-events: all;
}

.back-img {
  position: relative;
  z-index: 11;
}

/* Image styles for Scroll to Top button */
.back-button img {
  width: 60px;
  height: 60px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.back-button:hover .back-img {
  transform: scale(1.2); /* Increase size */
  opacity: 0.8; /* Slight transparency */
  content: url("/assets/images/point.png"); /* Change image on hover */
  transform: rotateY(180deg);
}

.preview-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.preview-container img {
  height: 80%;
  width: auto;
  user-select: none;
}

@media (max-width: 768px) {
  .back-button-container {
    top: 20px;
  }

  .back-button {
    height: 40px;
    width: 40px;
  }

  .back-button img {
    height: 30px;
    width: 30px;
  }

  .enabled {
    left: 20px;
  }

  .section:not(#section-preview).expand .section-title {
    top: 20px;
    right: 20px;
    left: auto;
    font-size: 1rem;
    height: 40px;
    width: calc(100% - 100px);
    padding-right: 20px;
  }

  .sections-top {
    height: 60%;
  }

  .sections-vertical .section {
    height: calc(50% - 10px);
  }

  .preview {
    height: 100%;
  }

  .sections-bottom {
    height: 40%;
  }

  .sections-bottom .section {
    height: calc(100% - 40px);
  }

  .sections-container {
    flex-grow: 1;
  }

  .section-title {
    top: 5px;
    left: 5px;
    text-align: left;
  }

  .section-thumbnail {
    padding-top: 30px;
  }
}
