.star-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
  transform: translateZ(0); /* Trigger hardware acceleration */
  background-color: black;
}

.star {
  position: absolute;
  font-size: 2rem; /* Adjust size as needed */
  color: white; /* Star color */
  white-space: nowrap;
  animation: pulse 2s ease-in-out infinite, glow 2s ease-in-out infinite; /* Pulsating and glowing animation */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5); /* Adjust to your desired scale */
  }
  100% {
    transform: scale(1);
  }
}

@keyframes glow {
  0% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.5),
      0 0 4px rgba(255, 255, 255, 0.4), 0 0 6px rgba(255, 255, 255, 0.3),
      0 0 8px rgba(255, 255, 255, 0.2), 0 0 10px rgba(255, 255, 255, 0.1);
  }
  50% {
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.5),
      0 0 8px rgba(255, 255, 255, 0.4), 0 0 12px rgba(255, 255, 255, 0.3),
      0 0 16px rgba(255, 255, 255, 0.2), 0 0 20px rgba(255, 255, 255, 0.1);
  }
  100% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.5),
      0 0 4px rgba(255, 255, 255, 0.4), 0 0 6px rgba(255, 255, 255, 0.3),
      0 0 8px rgba(255, 255, 255, 0.2), 0 0 10px rgba(255, 255, 255, 0.1);
  }
}
