.ticker-container {
  overflow: hidden;
  white-space: nowrap;
  background-color: black; /* Background color of the ticker */
  border: 2px solid white; /* Border around the ticker */
  color: white;
  position: relative;
  width: 90%;
  position: relative;
  height: 50px;
  font-weight: bolder;
  z-index: 10;
}

.ticker,
.ticker__element {
  height: 100% !important;
}

.ticker__element {
  display: flex;
  align-items: center;
}

p {
  margin: 0;
  user-select: none;
}
