.ticker-container {
  overflow: hidden;
  white-space: nowrap;
  background-color: black; /* Background color of the ticker */
  border: 2px solid white; /* Border around the ticker */
  color: white;
  position: relative;
  width: 95%;
  position: relative;
  height: 50px;
  font-weight: bolder;
  z-index: 10;
}

.ticker,
.ticker__element {
  height: 100% !important;
}

.ticker__element {
  display: flex;
  align-items: center;
  padding: 0 10px; /* Add some padding to the text */
  box-sizing: border-box; /* Include padding in element's width */
}

p {
  margin: 0;
  user-select: none;
}

@media (max-width: 768px) {
  .ticker-container {
    font-size: 1rem; /* Adjust font size for mobile */
  }
}
