.ticker-container {
  overflow: hidden;
  white-space: nowrap;
  background-color: black;
  border: 2px solid white;
  color: white;
  width: 95%;
  height: 50px;
  font-weight: bolder;
  z-index: 10;
  position: relative;
}

.ticker,
.ticker__element {
  height: 100% !important;
}

.ticker-content {
  display: flex;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
}

p {
  margin: 0;
  user-select: none;
}

@media (max-width: 768px) {
  .ticker-container {
    font-size: 1rem;
  }
}
